body{
    background: #159A9C;
    transition: background 0.5s;
}

body.dark{
  background: #24292d;
}

input[type=text],
input[type=text]:focus{
  border: none;
  max-width: 400px;
}
.container{
    max-width: 400px;
}
.delete{
    cursor: pointer;
  }
  .filtered{
    display: none !important;
  }
  .light{
    cursor: pointer;
  }
  .moon{
    cursor: pointer;
  }
  .mode{
    width: 20px;
    height: 20px;
  }
  .mode img{
    width: 100%;
    height: 100%;
  }